{% extends 'user/base.html' %}
{% load static %}

{% block css_file %}"{% static 'home/css/home.css' %}"{% endblock %}


{% block content %}
<div class="home">

    <!-- loading---------------------------->
    <div class="loadingpage">
        <div class="counter2">
            <h1>0</h1>
        </div>
    </div>


    <!-- ------------------------
                    header
            ------------------------------- -->
    <header>
        <div class="overlay block" id="home"></div>
        <div class="container">


            <div class="row">
                <div class="caption">
                    <h1>Company Name</h1>
                    <p>الاختيار الانسب لسيارتك</p>
                    {%if user.is_superuser%}
                    <a class="btn admin_Button" href="{%url 'add_new_car' %}">اضافة سيارة جديدة</a>
                    <a class="btn admin_Button" href="admin/">صفحة الادمن</a>
                    {%endif%}
                    <a class="scroll" href="{%url 'home2'%}" data-scroll="about" style="display:block"><button class="btn rounded-0 btn-danger" style="width: 400px;">تنبأ بسعر سيارتك </button></a>

                </div>
            </div>
        </div>
    </header>
<!-------------------------
     search
    ----------------------------->
    <div class="search">
        <form method="POST" id="search_form" data-models-url="{% url 'ajax_load_models' %}" novalidate> {% csrf_token %}
        <div class="row">
            {% for field in form %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="row mb-3">
                    <span class="dark col-4">{{field.label_tag }} </span>
                    <span class=" data col">{{field}}</span>
                </div>
                {% for error in field.errors %}
                    <div class="col red ">{{ error }}</div>
                    {%endfor%}
            </div>
            {%endfor%}
        </div>
        <input class='send btn' type="submit" value="بحث">
    </form>
    </div>


    <!-------------------------
      Gallery
    ----------------------------->
    <div class="scroll">
        <div class="wrap">
            <div class="portfolio block" id="portfolio">
                <div class="container">
            <!---first row have header of section-->
                    <div class="row pt-5 pb-3">
                        <div class="col">
                            <h2 class="section-title text-uppercase" style="float: right; color: #d72c1a; font-size: 50px;">معرض السيارات الجديدة </h2>

                        </div>
                    </div>
                    <div class="row wid">
                        <div class="col">
                            <ul class="list-group">
                                <li class="list-group-item active2"data-class="all" >الكل</li>
                                {%for comp in companies %}
                                <li class="list-group-item "data-class=".{{comp.الماركة}}" >{{comp.الماركة}}</li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-5">
                        {%for car in cars %}
                        <div class=" img_c_d text-center col-sm-12 col-md-6 col-lg-4 mb-5 box {{car.modelId.companyId.الماركة}}">
                            <img class ='img_c_i' style="height:70%" src="{{ car.image_set.first.صورة.url}}" alt="" title="" />
                            <h4 class="text-center text-uppercase">{{ car.modelId.الموديل }} </h4>
                            <h5 class="text-center text-uppercase">{{ car.الفئة }} </h5>
                            <button class="btn send"><a href="{%url 'new_car' car.id%}">عرض التفاصيل</a></button>
                        </div>
                        {%endfor%}
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_file %}"{% static 'home/js/home.js' %}"{% endblock %}

{% block js_content %}
$("#id_الماركة").change(function () {
      var url = $("#search_form").attr("data-models-url");  // get the url of the load_models view
      var compId = $(this).val();  // get the selected company ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request 😊 localhost:8000/hr/ajax/load-cities/)
        data: {
          'الماركة': compId
          // add the country id to the GET parameters
        },
        success: function (data) {   // data is the return of the load_models view function
          $("#id_الموديل").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
{% endblock %}
