{% extends 'user/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css_file %}"{% static 'car_prediction/css/car_prediction.css' %}?2019613"{% endblock %}


{% block js_file %}"{% static 'car_prediction/js/hidden.js' %}"{% endblock %}



{% block content %}
<div class="prediction">


		<div class="section1">
		 <div class="container">
			 <div class="header">

			     <h2 class="a">تقدير سعر سيارتك</h2>

			 </div>
             <div class="form">

			<h3 style="margin-bottom:30px">مواصفات السيارة</h3>

		<form method="post" id="prediction_form" data-models-url="{% url 'ajax_load_models' %}" novalidate >
       {% csrf_token %}
	<div class="form-row row">

		<div class="form-group col-12 col-md-6">

            {% for field in com_form %}
            <div class="row">
                <span class="dark col-2">{{field.label_tag }} </span>
                <span class="mr-5 data col">{{field}}</span>
            </div>
            {% for error in field.errors %}
            <div class="col red ">{{ error }}</div>
            {%endfor%}
            {%endfor%}
        </div>



        {% for field in pub_form %}
        <div class="form-group col-12 col-md-6">
            <div class="row">
                <span class="dark col-2">{{field.label_tag }} </span>
                <span class="mr-5 data col">{{field}}</span>
            </div>
            {% for error in field.errors %}
            <div class="col red ">{{ error }}</div>
            {%endfor%}
        </div>
        {%endfor%}

        <div class="form-group col-12 col-md-6">
            <div class="row">
                <span class="col-2"><label for="inputState">الكيلومترات</label></span>
                <span class="mr-5 col"><input type="text" class="form-control" id="inputPassword4" ></span>
            </div>
        </div>

        <div class="form-group col-12 col-md-6">
            <div class="row">
                <span class="col-2"><label for="inputState">مدة الترخيص*</label> </span>
                <span class="mr-5 col"><input type="text" class="form-control" id="inputEmail4" ></span>
            </div>
        </div>


    </div>






 <div class="options">

	<div class="form-row w">
		<div class="form-group col-md-6">

			<label for="inputState">هل العربية عملت حادثة</label>

        </div>


		<div class="form-group col-md-3">

	<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">نعم</label>
</div>
        </div>

   <div class="form-group col-md-3">
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">لا</label>
</div>
			</div>
			</div>


	<div class="form-row w">
		<div class="form-group col-md-6">

			<label for="inputState">هل تمت الصيانة في التوكيل</label>

		</div>



		<div class="form-group col-md-3">

	<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">نعم</label>
</div>
        </div>
    <div class="form-group col-md-3">
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">لا</label>
</div>
			</div>
			</div>


	 <div class="form-row w">
		<div class="form-group col-md-6">

			<label for="inputState">هل العربية في فترة الضمان</label>

		</div>



		<div class="form-group col-md-3">

	<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">نعم</label>
</div>

        </div>

     <div class="form-group col-md-3">
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">لا</label>
</div>
			</div>
			</div>
	 <div class="form-row w">
		<div class="form-group col-md-6">

			<label for="inputState">هل العربية فابريكة</label>

		</div>



		<div class="form-group col-md-3">

	<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">نعم</label>
</div>
        </div>
     <div class="form-group col-md-3">

<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">لا</label>
</div>
			</div>
			</div>



</div>

				 </form>


</div>


         </div></div>
	<div class="container">
	<div class="button">
</div>

        </div>
		<div class="section2">

			<div class="container">
                <div class="button">
                <button   type="submit" class="btn btn-primary b">احسب السعر</button>
                </div>
</div>
         <div class="sec">
           <div class="container">

			<div class="row">

		<h4>سعر العربية التقريبي:</h4>
		<p>00000000</p>
		</div>

				<div class="row">
				<h4 class="s">تقدر تضيف عربيتك للبيع من هنا:</h4>

                    <button type="submit" class="btn btn-primary">اضافة العربية</button>
	</div>

		</div>



             </div>
            </div>
</div>

	</body>
</html>

{% endblock %}

{% block js_content %}
$("#id_الماركة").change(function () {
      var url = $("#prediction_form").attr("data-models-url");  // get the url of the load_models view
      var compId = $(this).val();  // get the selected company ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request 😊 localhost:8000/hr/ajax/load-cities/)
        data: {
          'الماركة': compId
          // add the country id to the GET parameters
        },
        success: function (data) {   // data is the return of the load_models view function
          $("#id_modelId").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
{% endblock %}
