{% extends 'user/base.html' %}
{% load static %}
{% block css_file %}"{% static 'car_prediction/css/car_prediction.css' %}?2019613"{% endblock %}

{% block content %}
<div class="prediction text-center  container">

    <div class="alert">
        <h2 class="a dark">كم تساوي سيارتك؟! </h2>
    </div>

    <h3 class="dark" style="margin-bottom:40px">مواصفات السيارة</h3>
    <div class="form-group">
        <form method="post" role="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="row">
                        <span class="dark col-3"><label>قدرة المحرك المحرك</label></span>
                        <span class="mr-5 data col"><input id="kw" class="form-control" type="text" name="kw" ></span>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="row">
                        <span class="dark col-3"><label>عدد الكيلومترات</label></span>
                        <span class="mr-5 data col"><input id="km" class="form-control" type="text" name="km" ></span>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="row">
                        <span class="dark col-3"><label>سنة الصنع</label></span>
                        <span class="mr-5 data col"><input id="year" class="form-control" type="text" name="year"></span>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="row">
                        <span class="dark col-3"><label>مكيف الهواء</label></span>
                        <span class="mr-5 data col">
                            <select id="ac" class="form-control" name="ac">
                                <option value="0" >لا يوجد</option>
                                <option value="1" >يوجد</option>
                            </select>
                        </span>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="row">
                        <span class="dark col-3"><label>ناقل الحركة</label></span>
                        <span class="mr-5 data col">
                            <select id="gears" class="form-control" name="gears">
                                <option value="0" >مانيوال</option>
                                <option value="1" >أتوماتيك</option>
                            </select>
                        </span>
                    </div>
                </div>


                <div class="col-12 col-md-6">
                    <div class="row">
                        <span class="dark col-3"><label>تصنيف السيارة</label></span>
                        <span class="mr-5 data col">
                            <select id="bodyType" class="	form-control" name="body">
                                <option value="0" >سيدان</option>
                                <option value="1" >هاتشباك</option>
                                <option value="2" >Wagon</option>
                                <option value="3" >صالون عائلية</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
            <hr>
        </form>

        <button id="calculate" class="btn btn-primary b form-control">احسب السعر</button>
        <div>
            <p id="errorMessage"></p>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" style="top:150px;" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">سعر سيارتك: <span id="calculatedPrice"></span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-footer" style="padding: 30px;">
                    <div class="row justify-content-center">
                        <div class="col"><button id="userSubmit" type="button" class="btn btn-success" data-dismiss="modal">أضف سيارتك</button></div>
                        <div class="col"><button type="button" class="btn btn-default" data-dismiss="modal">خروج</button></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block js_file %}"{% static 'car_prediction/js/ajax.js' %}"{% endblock %}
