
/**********************************
        loading
**********************************/

.loadingpage{
	width:100vw;
	height:100vh;
	background:#161616;
	font-family: 'Open Sans', sans-serif;
	position:fixed;
	z-index:9999;
	overflow:hidden;
}
.loadingpage::before{
	content:'';
	width:51%;
	height:100%;
	background:yellow;
	background:#EC3337;
	position:absolute;
	z-index:9999;
	left:0%;
	top:0%;
}
.loadingpage::after{
	content:'';
	width:51%;
	height:100%;
	background:blue;
	background:#ec1c23;
	position:absolute;
	z-index:9999;
	right:0%;
	top:0%;
}
.loadingpage .counter2{
	margin:auto;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:99999;
}
.loadingpage h1{
	margin:0;
	padding:0;
	color:grey;
	color:white;
	font-size:5rem;
	font-weight:bolder;
}
/******** when page is loaded **********/
.pageisloaded{
	visibility:hidden;
	opacity:0;
	pointer-events:none;
	transform:translateY(-100%);
	transition:transform 1s 1.3s ease-out;
}
.pageisloaded::before{
	content:'';
	transform:translateX(-100%);
	transition:all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.pageisloaded::after{
	content:'';
	transform:translateX(100%);
	transition:all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.pageisloaded .counter{
	opacity:0;
	transition:all 0.3s ease-out;
}



/* **************************
        header
*************************** */

.home header {

    background-image: url(../images/car2.gif);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    height:100vh;
}
.home header .overlay {
    background-color: rgba(20,16, 24,0.7);
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0
}
.home header .caption {
    z-index:1;
    max-width: 900px;
    color:#fff;
    padding-top:200px;
    margin:auto;
    position: relative;
    text-align:center;
    height:100vh;
    overflow:hidden;

}
.home header .caption h1 {
    font-size: 60px;
    text-shadow:4px 6px 4px #575755;
    font-weight: bold
}
.home header .caption p {
    margin-top:15px;
    font-size: 30px;
    text-align: center;
}
.home header .admin_button{
    text-align:center;
}

header .caption button {
    background-color: #d72c1a;
    border-color: #d72c1a;
    color: #fff;
    width:160px;
    font-size: 40px;
    margin-top:15px;

}
.home header .admin_Button{
    background-color: #d72c1a;
    color: #fff;
    font-size: 25px;
}

.home header .admin_Button:hover{
    background-color:#c82333;
}

.home header .caption button i {
    padding-left: 8px;
    font-weight: 100
}
.home header i.fa-angle-down {
    color:#fff;
    display:inline-block;
    position: absolute;
    bottom: -27%;
    left: 60%;
    cursor: pointer;
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite
}
@keyframes move {
    0%{
        transform: translate(0,10px)
    }
    25%{
        transform: translate(0,-10px)
    }
    50%{
        transform: translate(0,10px)
    }
    75%{
        transform: translate(0,-10px)
    }
    100%{
        transform: translate(0,10px)
    }
}
@media (max-width:992px){
    header i.fa-angle-down  {
       bottom:-10%
   }
}
@media (max-width:768px){
    header {
        height:600px !important
    }
    header .caption h1  {
       font-size: 40px
   }
   header .caption p {
    font-size: 25px
   }
   header i.fa-angle-down {
       bottom:-20%
   }
}
@media (max-width:576px){
    header {
        height:520px !important;
    }
    header .caption  {
       text-align: center;
       padding-top:120px
   }
   header .caption p {
    font-size: 25px
   }
   header i.fa-angle-down {
       bottom:-20%
   }
}

/* **************************
        search
*************************** */

.search{
margin: 50px;
}

.search label{
    font-size:25px;
    margin-bottom: .5rem;
    margin-left: 10px;
}


.home .search .send{
    margin: 50px auto ;
    display: block;
    padding :10px 25px;
    background-color: #D72C1A;
    width: 200px;
    color: #fff;
    font-size: 25px;

}

/* **************************
        portfolio
*************************** */
.scroll{
    height:600px;
    overflow:hidden;
}
.portfolio {
    background-color: #ebebeb;
}
.portfolio .row {
    margin-right: 0
}
.portfolio .section-title {
    color:#444444
}
.portfolio .subtitle {
    color:#7a7979
}
.portfolio .wid {
    text-align: center
}
.portfolio .list-group {
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
}
@media (max-width:576px){
    .portfolio .list-group {
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
    }
    .portfolio {
        padding-top:0rem !important
    }
    .portfolio .list-group .list-group-item {
        margin-top: 5px
    }
}
.portfolio .list-group-item {
    margin-right:20px
}
.portfolio .list-group li:hover {
    color:#ec1c23;
    border:1px solid #ec1c23;
    cursor: pointer;
}
.active2 {
    color:#fff !important;
    background-color: #ec1c23;
    border:none
}

.home .send{
    margin: 10px auto ;
    display: block;
    padding :5px 15px;
    background-color: #D72C1A;
    font-size: 16px;
    border-color: rgb(200, 44, 26);
}

.home .send a{
    color: #fff;
}

/**** boxes ***/
.portfolio .box {
    position: relative;
}
.portfolio .box i {
    position: absolute;
    top:61%;
    left:173px;
    background-color: #000;
    color:#fff;
    padding:10px;
    border-radius:50%
}
.portfolio .box img {
    cursor: col-resize;
}
.portfolio .box i {
    cursor: pointer;
}
.portfolio .box h4 {
    color:#444444;
    margin:30px 0 5px 0;
    font-weight: bold;
    font-size: 1.3rem
}
.portfolio .box h5 {
    color: #7a7979;
    font-size: 1rem
}

@media (max-width:576px){
    .portfolio .box {
        text-align: center
    }
}
@media (max-width:992px){
    .portfolio .box i {
        top:61%
    }
}



