{% extends 'user/base.html' %}
{% load static %}

{% block css_file %}"{% static 'car/css/add_car.css' %}?version =51"{% endblock %}

{% block content %}

<div class="add_used_car">
    {%if pkn or pku%}
    <h1 class="main_head" >تعديل بيانات السيارة</h1>
    {%elif used%}
    <h1 class="main_head" >اضافة سيارة مستعملة</h1>
    {%else%}
    <h1 class="main_head" >اضافة سيارة جديده</h1>
    {%endif%}

    <div class="container">
        <form method="POST" enctype="multipart/form-data" id="car_form" data-models-url="{% url 'ajax_load_models' %}" novalidate> {% csrf_token %}
            {{ img_form.management_form}}

            <h2 class="sec_head">البيانات الاساسيه</h2>


            <div class="row">
                {% for field in com_form %}
                <div class="col-12 col-md-6">
                    <div class="row">
                        <span class="dark col-4 col-md-3">{{field.label_tag }} </span>
                        <span class=" data col">{{field}}</span>
                    </div>
                    {% for error in field.errors %}
                    <div class="col red ">{{ error }}</div>
                    {%endfor%}
                </div>
                {%endfor%}

                {% for field in pub_form %}
                <div class="col-12 col-md-6">
                    <div class="row">
                        <span class="dark col-4 col-md-3">{{field.label_tag }} </span>
                        <span class=" data col">{{field}}</span>
                    </div>

                    {% for error in field.errors %}
                    <div class="col red ">{{ error }}</div>
                    {%endfor%}
                </div>
                {%endfor%}

                {% for field in form_txt %}
                <div class="col-12 col-md-6">
                    <div class="row">
                        <span class="dark col-4 col-md-3">{{field.label_tag }} </span>
                        <span class=" data col">{{field}}</span>
                    </div>
                    {% for error in field.errors %}
                    <div class="col red ">{{ error }}</div>
                    {%endfor%}
                </div>

                {%endfor%}


            </div>

            <hr>
            <div class="row">
                {% for field in form_bool %}
                <div class="col-6 col-md-4">
                    <div class="row">
                        <span class=" col-1">{{field}}</span>
                        <span class="dark col">{{field.label_tag }} </span>
                    </div>
                    {% for error in field.errors %}
                    <div class="col red ">{{ error }}</div>
                    {%endfor%}
                </div>
                {%endfor%}
            </div>
            <h2 class="sec_head">صور السيارة</h2>

            <div class="row">
                {% for field in img_form %}
                <div class="col-12  ">
                    <div class="row">
                        <span class=" data col">{{field}}</span>
                    </div>
                    <hr>
                    {% for error in field.errors %}
                    <div class="col red ">{{ error }}</div>
                    {%endfor%}
                </div>
                <hr>

                {%endfor%}

            </div>

<!--
<h2 class="sec_head">بيانات اخري</h2>
            <textarea class="form-control"></textarea>-->

        </form>

    </div>

    <div class="section2">
        <div class="container">
            <div class="button">
                {%if pkn or pku%}
                <input class='send submit mb-2 btn' type="submit" form ="car_form" value="حفظ التعديلات">
                {%else%}
                <input class='send submit mb-2 btn' type="submit" form ="car_form" value="اضافة">
                {%endif%}

            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js_file %}"{% static 'car_prediction/js/hidden.js' %}"{% endblock %}

{% block js_content %}
$("#id_الماركة").change(function () {
      var url = $("#car_form").attr("data-models-url");  // get the url of the load_models view
      var compId = $(this).val();  // get the selected company ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request 😊 localhost:8000/hr/ajax/load-cities/)
        data: {
          'الماركة': compId
          // add the country id to the GET parameters
        },
        success: function (data) {   // data is the return of the load_models view function
          $("#id_modelId").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
{% endblock %}