{% extends 'user/base.html' %}
{% load static %}

{% block content %}
<div class=user>
    <div class="container">
        <form method='POST'>{% csrf_token %}
            <h2 class="red main_head" >
                هل تريد حذف السيارة! <input class='del btn' type="submit" value="تأكيد الحذف">
            </h2>
        </form>
    </div>
</div>
{% endblock %}