{% extends 'user/base.html' %}
{% load static %}
{% block css_file %}"{% static 'car/css/used_car.css' %}"{% endblock %}
{% load get_car %}


{% block content %}
<div class="used_car">
    <div class="slider">
                {%for img in object.image_set.all%}
                <div>
                    <img class ='img-fluid w-100' src="{{img.صورة.url}}" >
                </div>
                {%endfor%}
    </div>
    <div class="container">
        <div class="row justify-content-center ">
            <h2 class="col-12 col-lg-5 text-center text-lg-right">
                <span>{{ object.modelId.companyId.الماركة }}</span> -
                <span>{{ object.modelId.الموديل }}</span> -
                <span>{{ object.الفئة }}</span>
            </h2>
            <h2 class="col-12 col-lg-3 text-center text-lg-right"><span>السعر:</span>{{object.السعر}}</h2>
            <h2 class="col-12 col-lg-3 text-center text-lg-left"><span>السنة:</span>{{object.السنة}}</h2>

        </div>

        <div class="row justify-content-center mt-3">
            {% if user.is_superuser%}
            <div class="col-12 col-md-6 text-center text-md-right"><a href="{%url 'update_new_car' object.id%}" class="btn send" >تعديل المواصفات</a></div>
            <div class="col text-center text-md-left"><a href="{%url 'delete_new_car' object.id%}" class="btn send" >حذف السيارة</a></div>
            {%endif%}
        </div>
        <hr>


        <div class="car_info">
            {%for i in object|getNewText %}
                <div class="row ">
                    <div class="col">
                        <p>{{i.carDetailsId.name}}</p>
                    </div>
                    <div class="col">
                        <p>{{i.value}}</p>

                    </div>
                </div>
                <hr>
            {%endfor%}
           {%for i in object|getNewBool %}
                <div class="row">
                    <div class="col">
                        <p>{{i.carDetailsId.name}}</p>
                    </div>
                    <div class="col">
                        {% if i.value is True %}
                        <p>متوفر</p>
                        {%else%}
                        <p>غير متوفر</p>
                        {%endif%}

                    </div>
                </div>
                <hr>
            {%endfor%}
        </div>




    </div>
</div>
{% endblock %}