{% extends 'user/base.html' %}
{% load static %}

{% block css_file %}"{% static 'car/css/used_car.css' %}"{% endblock %}
{% load get_car %}

{% block content %}
<div class="used_car">
    <div class="slider">
                {%for img in object.used_image_set.all%}
                <div>
                    <img class ='img-fluid w-100' src="{{img.صورة.url}}" >
                </div>
                {%endfor%}
    </div>
    <div class ='container'>

    <div class="row justify-content-center ">
            <h2 class="col-12 col-lg-5 text-center text-lg-right">
                <span>{{ object.modelId.companyId.الماركة }}</span> -
                <span>{{ object.modelId.الموديل }}</span> -
                <span>{{ object.الفئة }}</span>
            </h2>
            <h2 class="col-12 col-lg-3 text-center text-lg-right"><span>السعر:</span>{{object.السعر}}</h2>
            <h2 class="col-12 col-lg-3 text-center text-lg-left"><span>السنة:</span>{{object.السنة}}</h2>

    </div>


    <div class="row justify-content-center mt-3">
        {% if user == object.customerId %}
        <div class="col-12 col-md-6 text-center text-md-right"><a href="{%url 'update_used_car' object.id%}" class="btn send" >تعديل المواصفات</a></div>
        {%endif%}
        {% if user == object.customerId or user.is_superuser%}
        <div class="col text-center text-md-left"><a href="{%url 'delete_used_car' object.id%}" class="btn send" >حذف السيارة</a></div>
        {%endif%}
    </div>

    <hr>


    <div class="car_info">
        {%for i in object|getUsedText %}
            <div class="row">
                <div class="col">
                    <p>{{i.publishedCarDetailsId.name}}</p>
                </div>
                <div class="col">
                    <p>{{i.value}}</p>

                </div>
            </div>
            <hr>
        {%endfor%}


        {%for i in object|getUsedBool %}
            <div class="row">
                <div class="col">
                    <p>{{i.publishedCarDetailsId.name}}</p>
                </div>
                <div class="col">
                    {% if i.value is True %}
                    <p>متوفر</p>
                    {%else%}
                    <p>غير متوفر</p>
                    {%endif%}

                </div>
            </div>
            <hr>
        {%endfor%}
    </div>

    <!--the owner-->
    <div class="row pro_info m-5">

        <div class="col-12 col-md-6 text-center img_p_d mb-5 mb-md-0" >
            <img class =' img-fluid img-thumbnail img_p_i' src="{{object.customerId.profile.صورة_شخصية.url}}" alt="Sheldon COOPER">
            <h1 class="red">{{object.customerId.username}}</h1>
        </div>

        <div class="col mb-md-0" >
            <h2><span > الاسم:</span>{{object.customerId.profile.الاسم}}</h2>
            <h2><span>رقم الهاتف: </span>{{object.customerId.profile.رقم_الهاتف}}</h2>
            <h2><span>العنوان: </span>
                {{object.customerId.profile.المنطقة.governorateId.المحافظة}} - {{object.customerId.profile.المنطقة.المنطقة}}
            </h2>
        </div>
    </div>

     <div class="row justify-content-center">
    <a href="{%url 'profile' object.customerId.id%}" class="btn send" >عرض الصفحة الشخصية</a>
    </div>





</div>
</div>
{% endblock %}
