{% extends 'user/base.html' %}
{% load static %}

{% block css_file %}"{% static 'search/css/new_search.css' %}"{% endblock %}

{% block content %}
<div class="newcar">
    <div class="container">
        <div class="Basee">
            {%for key ,value in object_list.items %}
                <h2 class = 'comp_head'>{{key}}</h2>
                {%for key2 ,value2 in value.items%}
                    <table>
                      <tr>
                        <th><h4>السعر الرسمي في التوكيل</h4>
                        </th>
                        <th>
                            <div>
                                <span style="margin-left: 10px">{{value2.first.السنة}}</span>
                                <span style="margin-left: 15px">{{key2}}</span>
                                <img src="{{value2.first.image_set.first.صورة.url}}" style="width: 80px; height: 80px;">
                            </div>
                        </th>
                      </tr>
                    {%for i in value2%}
                      <tr>
                        <td>{{i.السعر}} egp</td>
                        <td><a href="{%url 'new_car' i.id%}"> {{i.الفئة}}</a></td>
                      </tr>
                    {%endfor%}
                    </table>
                {%endfor%}
            {%endfor%}






        </div>
    </div>
</div>
{% endblock %}
