{% extends 'user/base.html' %}
{% load static %}

{% block css_file %}"{% static 'search/css/used_search.css' %}"{% endblock %}


{% block content %}
<div class="usedcar">
    <div class="container">
        {% for key ,value in object_list.items %}
            <h2 class = 'comp_head col'>{{key}}</h2>
            {%for key2 ,value2 in value.items %}
                {%for car in value2%}
                    <div class="row p-3">
                        <div class="usedcarRight col-12 col-md-7">
                            <img src="{{car.used_image_set.first.صورة.url}}" >
                        </div>
                        <div class="usedcarLeft col">
                            <p><a href="{%url 'used_car' car.id%}" class="red">{{car.الفئة}} - {{key2}}</a> </p>
                            <p class="dark">{{car.السعر}} egp</p>
                            <div style="width: 100%; height: 4px;
                                  background-color: dimgray"></div>
                            <div class="cone"><p> 1200 CC  </p></div>

                            <div class="cone2"><p>340,435 Km</p></div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            {% endfor %}
        {% endfor %}



    </div>
</div>
{% endblock %}
