*{
    font-family: OpenSans-Regular;;
}




used_car .bx-wrapper  .text-center .col-12 .bx-next , .bx-wrapper .bx-prev{
    background-image: url(../bxslider-4-4.2.12/src/images/controls.png);
}

.dark{
    color:#5C6061;
}

.red{
    color: #D72C1A;
}

a:hover{

    text-decoration: none;
}


select{
    padding: 5px 20px;
    color: #D72C1A;
    background-color: #fff;
    font-size: 25px;
    border-radius: 3px;
    border: 1px solid #D72C1A;
    width:80%;
    margin: 5px 0px;
}

/***************************/
.main-color {
    color:#d72c1a; /* main color*/
}
.second-color {
    color:#ec1c23 /* second color */
}
::selection {
    background-color: #EC3337;
    color:#fff
}
.clr{
    clear: both;
}
/***************************/
.img_p_d{
    height:250px;
}

.img_c_d{
    height:300px;
}

.img_c_i{
    border:1px solid #e4e1e1;
    height:81%;
    border-radius :9px;
    width: 70%;
}


.img_p_i{
    border:1px solid #e4e1e1;
    height:85%;
    border-radius :50%;
}

 /* **************************
        to up button
*************************** */

.to-up {
    position:fixed;
    top: 80%;
    left: 93%;
    background-color: antiquewhite;
    border:2px solid #EC3337;
    border-radius:50%;
    width:50px;
    height:50px;
    padding:8px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    display: none;
    z-index:999
}
.to-up:hover i {
    color: #fff
}
.to-up:hover {
    background-color:#EC3337;
}

@media (max-width:576px){
    .to-up {
        left: 81%;
    }
}


/* **************************
        nav bar
*************************** */

.navbar {
    height:80px;
    background-color:#1A1A1A !important;
    margin-button:90px;
}

.navbar .collapse{
    background-color:#1A1A1A;
    padding:0px

}
.navbar .navbar-brand img {
    height:100px ;
    position: relative;
    top: -14px;
    right: -6px;
}
.navbar .navbar-brand span {
    color: #ff321d;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    top: 9px;
    letter-spacing: 1px;
    font-family: cursive;
}

.navbar .navbar-collapse .nav-link{
    color:#fff;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    padding: 14px 18px
}
.navbar .navbar-collapse .nav-link:hover {
    color:#EC3337;
    background-color: #fff;
}

@media (max-width:768px){
    .navbar .navbar-collapse .nav-link {
        background-color: #1A1A1A;
        padding:15px
    }
}
@media (max-width:1200px){
    .navbar .container{
        width:100%
    }
    .navbar {
        height:100px;
    }

    .navbar .btn-danger {
        margin:10px auto ;
    }

    .navbar .nav-item{
        display:block;
        border-top:1px solid #444;
    }
}
.btn-danger {
        color: #fff;
    font-size: 22px;
    background-color: #d72c1a;
    border-color: #d72c1a;
    padding: 4px;
    margin: 13px;
    line-height: 1.8;
    width: 155px;
}

.btn-danger a{
    color: #fff;

}

.pro_drop{
    background-color:#d72c1a;
    color:#fff

}

.pro_drop a{
    color:#fff
    margin:2px;
    text-align:center
}


/*footer*/
.footer{
    color: #fff;
    background-color: #1a1a1a;
  
}
.footer .footerRight,.footer .footerLeft{
   padding: 10px;
}
.footer .footerLeft .icoone, 
.footer .footerLeft .icotwo,
.footer .footerLeft .icothree,
.footer .footerLeft .icofour{
  
}
.footer p{
    margin-top: 70px;
    text-align: center;
    padding-bottom: 30px;
}
   /* color: #d72c1a;*/

.footerLeft i{
    margin-top: 20px;

    padding: 10px;
}
.footerLeft .icoone i:hover{
    color: #3b5998 ;
}
.footerLeft .icotwo i:hover
{
    color: #0e76a8;
}
.footerLeft .icothree i:hover
{
    color: #0e76a8;
}
.footerLeft .icofour i:hover
{
    color: #053eff;
}
.footerRight .con1 i{
    font-size: 40px;
    margin: 15px;
    color: #d72c1a;
}
/* **************************
        login&register&logout
*************************** */

.user .main_head{
    text-align: center;
    margin: 100px 0 50px;
    font-weight: 500;
    font-size: 40px;
    font-family: sans-serif;

}

.user .info_form{
    margin: 30px;
}

.user .container{
    width: 50%;
}

.user .info_form form .row{

    margin-bottom: 15px;
}


.user .info_form form .row label{
    font-weight: 500;
    font-size: 25px;
}

.user .info_form form .row input{
    width: 75%;
    padding: 2px;
    border: 1px solid #dc3545;
}

.user .info_form form .row input:focus{
    outline: none;
}


.user .submit .send_button{
    background-color: #D72C1A;
    width: 25%;
    color: #fff;
    margin: 20px 0 50px;
    font-size: 20px;
    padding: 0;
    margin-left: 5px;

}

.user .submit{
   text-align: center;
}

.user .submit a{
    vertical-align: 30%;
    font-size: 25px;
    border-bottom: 1px solid #D72C1A;
}

.user .a_logout:hover,.user .submit a:hover{
    color:#5C6061;
}

.user .a_logout{
    border-bottom: 1px solid #D72C1A;
}

@media (max-width:768px){
    .user .container{
    width: 80%;
}
}





/*delete*/
.del{
    margin: 30px auto ;
    padding :5px 20px;
    background-color: #D72C1A;
    width: 22%;
    font-size: 20px;
    color: #fff;

}

.send a{
    color: #fff;

}



