.profile{

    margin-top :90px;
}


.profile .main_head{
    text-align: center;
    margin-top :100px;
    margin-bottom:40px;
    color:#5C6061;
}

.profile .pro_info h2{
    color:#5C6061;
}

.profile .pro_info span{
    color: #D72C1A;
}

.profile .send{
    margin: 30px auto ;
    display: block;
    padding :5px 20px;
    background-color: #D72C1A;
    width: 200px;
    font-size: 20px;
    color: #fff;

}

.profile .send a{
    color: #fff;

}
.profile .data input ,.profile .data select{
    font-size:18px;
    padding: 7px;
    border: 1px solid #dc3545;
    border-radius: 3px;
    width: 70%;
    margin: 10px 0px;
}

.profile .data input[type ="file"]{
    border:none;
}

.profile .data input[type ="file"]:focus{
    outline:none;
}

.profile .data input[type ="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

.profile .data input[type ="file"]::before{
    content: 'اختيار صورة';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 500;
    font-size: 13pt;
}

.profile .data input[type ="file"]:hover::before {
  border-color: black;
}
.profile .data input[type ="file"]:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


.profile .dark label {
    line-height: 2.5;
    display: inline-block;
    margin-bottom: .5rem;
    margin-left: 10px;
    font-size: 25px;
}