

.prediction .a{
    margin-top:67px;
	text-align: center;
	border: 1px solid #eee;
    background-color: #eee;
    padding: 30px;
}

.prediction h3 {
    margin-top:40px;
    font-size: 1.75rem;
    width: fit-content;
    border-bottom: 2px solid rgb(220, 44, 26);
}


.prediction .form-control{
	border: 1px solid #d93a2a;
}

.prediction .data input ,.prediction .data select{
    border: 1px solid #d93a2a;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin:5px;
}


.prediction .data select option{
	
    font-size:16px;
    margin-right: -20px;
	margin-bottom: 20px;
}

label {
    font-size: 20px;

	
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #dc3545;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #dc3545;
}

.prediction .data input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #dc3545;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #dc3545;
}

.prediction .w{
	
	margin-bottom: -15px;
	
}

.prediction .button{
	
	text-align: center;
	
}

.prediction .btn{
	
	width: 200px;
	background-color: rgb(220, 44, 26);
	border-color: rgb(200, 44, 26);
	font-size: 25px;
}

.prediction .btn-primary:hover {
    color: #fff;
    background-color: rgb(190, 44, 26);
    border-color: rgb(200, 44, 26);
	
}

.prediction primary:not(:disabled):not(.disabled).active,.prediction .btn-primary:not(:disabled):not(.disabled):active,.prediction .show>.btn-primary.dropdown-toggle {
    color: #fff;
   background-color: rgb(220, 44, 26);
	border-color: rgb(200, 44, 26);
}



.prediction .btn-primary:not(:disabled):not(.disabled).active:focus,.prediction .btn-primary:not(:disabled):not(.disabled):active:focus,.prediction .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.1rem rgb(255, 44, 26);
}

.prediction .section2 .sec{
	display: none;
	}
.prediction .sec{
	background-color: #333333;
	color: #fff;
	margin-right: -20px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 30px;
	
}

.prediction .section2 h4{
	font-size: 30px;
	
}

.prediction .s{
padding-top: 7px;
}
.prediction .section2 p{
	font-size: 20px;
	padding: 4px;
	margin-right: 13px;
}

.prediction .section2 .btn{
	
	margin-right: 13px;
	margin-bottom: 20px;
} 


.prediction .btn-primary.focus,.prediction .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(255, 44, 26);;
}