<!DOCTYPE html>
{% load static %}
<html dir ='rtl'>
<head>
    <meta charset="UTF-8">
    <title>YourCar</title>
    <link rel="icon" type="image/png" href="{% static 'user/images/CabrioletRed.png' %}" />
    <link rel="stylesheet" href= "{% static 'user/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href= "{% static 'user/css/bootstrap_rtl.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/fontawesome-all.css' %}" />
    <link rel="stylesheet" href="{% static 'user/bxslider-4-4.2.12/src/css/jquery.bxslider.css' %}">
    <link rel="stylesheet" href= "{% static 'user/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'user/bxslider-4-4.2.12/src/css/jquery.bxslider.css' %}">
    <link rel="stylesheet" href= {% block css_file %}{% endblock %}>

</head>
<body>
<!-----------------------------------
                 To Up Button
        ----------------------- ---------->
    <div class="container-fluied">
        <div class="to-up">
            <i class="fa fa-arrow-up main-color fa-2x"></i>
        </div>
    </div>

<!-- ---------------------------------
             nav bar
    ----------------------- -------- -->
<nav class="navbar navbar-expand-xl navbar-dark p-0 fixed-top">
    <div class="container">
        <!-- Brand -->
        <a href="{%url 'home'%}" class="navbar-brand p-0">
            <img src="{% static 'user/images/CabrioletRed.png' %}" />
            <span> YourCar</span>
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainnav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="text-center collapse navbar-collapse" id="mainnav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'add_used_car'%}" data-scroll="home">أضف سيارتك</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'home'%}#portfolio" data-scroll="about">المعرض</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll="work">تواصل معنا</a>
                </li>



                {% if user.is_authenticated %}
                <a href="{%url 'profile' user.pk%}"class="btn btn-danger " >الصفحة الشخصية</a>
                <a href="{%url 'logout'%}"class="btn btn-danger " >تسجيل الخروج</a>
                {%else%}
                <a href="{%url 'login'%}"class="btn btn-danger ">تسجيل الدخول</a>
                <a href="{%url 'register'%}" class="btn btn-danger " >التسجيل</a>
                {%endif%}



            </ul>
        </div>
    </div>
</nav>
{% block content %} {% endblock %}

<!--footer-->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footerRight clo-12 col-md-6">
          <div class="con1"><i class="fa fa-phone" style="font-size: 40px;"></i>
            <span style="font-size: 20px">0125678999</span></div>
            <div class="con1"><i class="fa fa-envelope"></i>
            <span style="font-size: 20px">company name @gmail.com</span></div>
            </div>



            <div class="footerLeft clo-12 col-md-6">
                <div class="row">

                    <div class=" col-2 icoone">
                <i class="fab fa-facebook-square fa-3x" ></i>
                </div>
                <div class="col-2 icotwo">
             <i class="fab fa-linkedin  fa-3x"></i>
                </div>

                <div class="col-2 icothree">
                <i class="fab fa-twitter-square  fa-3x"></i>
                </div>

                <div class="col-2 icofour">
               <i class="fab fa-behance-square  fa-3x"></i>
                </div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col">
            <p style="font-size: 20px"> copy right <span style="color: #d72c1a;"> &#64; </span>  YourCar</p>
            </div>
        </div>
    </div>


        </div>

    <script src="{% static 'user/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'user/js/popper.min.js' %}"></script>
    <script src="{% static 'user/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'user/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'user/js/user.js' %}"></script>
    <script src="{% static 'user/bxslider-4-4.2.12/src/js/jquery.bxslider.js' %}"></script>
    <script src={% block js_file %}{% endblock %}></script>
    <script>{% block js_content %}{% endblock %}</script>




</body>
</html>
