{% extends 'user/base.html' %}
{% load static %}

{% block content %}
<div class=user>
    <div class="container">
    <h2 class="red main_head" style="font-size: 30px">Log out successfully! <a href="{%url 'login'%}" class="dark a_logout">تسجيل الدخول</a></h2>
    </div>
</div>

{% endblock %}