{% extends 'user/base.html' %}
{% load static %}
{% load filter %}


{% block css_file %}"{% static 'user/css/profile.css' %}"{% endblock %}

{% block content %}
<div class =profile>

    <div class="container">
        <div class="row pro_info p-5">

            <div class="col-12 col-md-6 text-center img_p_d">
                <img class =' img-fluid img_p_i' src="{{person.profile.صورة_شخصية.url}}" alt="Sheldon COOPER">
                <h1 class="red">{{person.username}}</h1>
            </div>

            <div class="col" >
                <h2><span > الاسم:</span>{{person.profile.الاسم}}</h2>
                <h2><span>رقم الهاتف: </span>{{person.profile.رقم_الهاتف}}</h2>
                <h2><span>العنوان: </span>
                    {{person.profile.المنطقة.governorateId.المحافظة}} - {{person.profile.المنطقة.المنطقة}}
                </h2>
            </div>
        </div>

        <div class="row">
            {%if user == person%}
            <a href="{%url 'profile_update'%}" class="btn send" >تعديل الصفحة الشخصية</a>
            {%endif%}
        </div>



        <hr>
    </div>



    <div class="container-fluid">
        <h1 class="red text-center m-5">سيارات قام {{person.profile.الاسم}} باضافتها</h1>


        {%for i in person|user_car %}
        <div class="row pro_info">
            <div class="col-12 col-md-6 text-center img_c_d">
                <img class ='img_c_i 'src="{{i.used_image_set.first.صورة.url}}" >
                <button style="margin:15px auto" class="btn send"><a href="{%url 'used_car' i.id%}">عرض التفاصيل</a></button>
            </div>

            <div class="col m-5">
                <h2>
                    <span>{{ i.modelId.companyId.الماركة }}</span> -
                    <span>{{ i.modelId.الموديل }}</span> -
                    <span>{{ i.الفئة }}</span>
                </h2>
                <h2><span>السعر:</span>{{i.السعر}}</h2>
                <h2><span>سرعة المحرك:</span>{{i|used_car_detail_txt:'سرعة المحرك'}}</h2>
                <h2><span>عدد الكيلوات:</span>{{i|used_car_detail_txt:'عدد الكيلوات'}}</h2>
            </div>
        </div>
            <hr>
            {%endfor%}



    </div>
</div>

{% endblock %}

