{% extends 'user/base.html' %}
{% load static %}

{% block css_file %}"{% static 'user/css/profile.css' %}"{% endblock %}

{% block content %}

<div class="profile">
    <h1 class="main_head" >تعديل بياناتك</h1>

    <div class="container-fluid">
        <form method='POST' enctype="multipart/form-data" id="profile_form" data-models-url="{% url 'ajax_load_regions' %}" novalidate>{% csrf_token %}
            <div class="row">
                {% for field in u_form %}
                <div class="col-12 col-md-6">
                    <div class="row">
                        <span class="dark col-4 col-md-3">{{field.label_tag }} </span>
                        <span class=" data col">{{field}}</span>
                    </div>
                </div>
                {%endfor%}

                {% for field in g_form %}
                <div class="col-12 col-md-6">
                    <div class="row">
                        <span class="dark col-4 col-md-3">{{field.label_tag }} </span>
                        <span class=" data col">{{field}}</span>
                    </div>
                </div>
                {%endfor%}

                {% for field in p_form %}
                <div class="col-12 col-md-6">
                    <div class="row">
                        <span class="dark col-4 col-md-3">{{field.label_tag }} </span>
                        <span class=" data col">{{field}}</span>
                    </div>
                </div>
                {%endfor%}


            </div>
            <input type="submit" value="حفط البيانات" class='send btn'>

    </form>
    </div>
</div>


{% endblock %}


{% block js_content %}
$("#id_المحافظة").change(function () {
      var url = $("#profile_form").attr("data-models-url");  // get the url of the load_models view
      var govId = $(this).val();  // get the selected company ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request 😊 localhost:8000/hr/ajax/load-cities/)
        data: {
          'المحافظة': govId
          // add the gov id to the GET parameters
        },
        success: function (data) {   // data is the return of the load_models view function
          $("#id_المنطقة").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
{% endblock %}