{% extends 'user/base.html' %}
{% load static %}

{% block content %}
<div class="user">
    <h1 class="main_head dark">تسجيل حساب جديد</h1>

    <div class="info_form">
        <div class="container">
            <form method='POST'>{% csrf_token %}
               {% for field in form %}

                <div class="row">
                    <div class="col-4 dark ">{{field.label_tag }}</div>
                    <div class="col-8">{{field}}</div>


                    {% for error in field.errors %}
                   <div class="col red ">{{ error }}</div>
                    {%endfor%}
                </div>

                {%endfor%}


                <div class='submit'>
                    <input class='send_button btn' type="submit" value="تسجيل">
                    <a class = "dark" href ="{%url 'login'%}">هل لديك حساب بالفعل ؟</a>
                </div>
            </form>
        </div>

    </div>
</div>


{% endblock %}