.add_used_car .main_head{
    text-align: center;
    margin-top :90px;
    color:#5C6061;

}

.add_used_car .sec_head{
    color:#5C6061;
    margin:20px 0;
}

.add_used_car .send{
    margin: 30px auto ;
    display: block;
    padding :5px 20px;
    background-color: #D72C1A;
    width:150px;
    color: #fff;
    font-size: 20px;
    border-color: rgb(200, 44, 26);

}

.add_used_car .data input{
    font-size:18px;
    padding: 7px;
    border: 1px solid #dc3545;
    border-radius: 3px;
    width: 80%;
    margin: 5px 0px;
}


.add_used_car .data input[type ="file"] {
    border:none;
}
.add_used_car .data input[type ="file"]:focus{
    outline:none;
}

.add_used_car .data input[type ="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

.add_used_car .data input[type ="file"]::before{
    content: 'اختيار صورة';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 500;
    font-size: 13pt;
}

.add_used_car .data input[type ="file"]:hover::before {
  border-color: black;
}
.add_used_car .data input[type ="file"]:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}




.add_used_car .form-control{
    border: 1px solid #dc3545;

}

.add_used_car label {
    display: inline-block;
    margin-bottom: .5rem;
    margin-left: 10px;
    font-size: 20px;
}

.add_used_car .section2 .sec{
	display: none;
	}

.add_used_car .sec{
	background-color: #333333;
	color: #fff;
	margin-right: -20px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 30px;

}

.add_used_car .section2 h4{
	font-size: 30px;

}

.add_used_car .s{
padding-top: 7px;
}
.add_used_car .section2 p{
	font-size: 20px;
	padding: 4px;
	margin-right: 13px;
}



.add_used_car .send.focus,.add_used_car .send:focus {
    box-shadow: 0 0 0 0.2rem rgb(255, 44, 26);
}




