
.used_car{
    background-color:#f6f6f6;
    padding-top :60px;
}

.used_car .bx-wrapper{
    margin: 2.5% 11.1%;
    border: 1px solid #D72C1A;
    border-radius :9px
}
.used_car .bx-wrapper  .bx-next ,.used_car .bx-wrapper .bx-prev{
    background-image: url(../images/controls.png);
}

.used_car .bx-wrapper .slider > *{
    width :100% !important
}

.used_car .bx-wrapper .slider div img{
        height: 67vh;
        border-radius :9px;
}

.used_car .main_info{
    font-size: 40px;
}


.used_car  h2{
    color:#5C6061;
}

.used_car span{
    color: #D72C1A;
}


.used_car .car_info{
    font-size:20px;
    color:#5C6061;

}

.used_car .send{
    margin: 30px;
    padding :5px 20px;
    background-color: #D72C1A;
    width: 200px;
    font-size: 20px;
    color: #fff;

}

.used_car .send a{
    color: #fff;

}

.used_car .pro_info h2{
    color:#5C6061;
}

.used_car .pro_info span{
    color: #D72C1A;
