.Basee{


    margin-top: 90px;
}
.comp_head{
    background-color:#d72c1a;
    color: #fff;
    padding:15px;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;

}
th{
    color: #d72c1a;

}
tr:nth-child(even) {
  background-color: #dddddd;
}