.usedcar{
    margin-top: 90px;
}
.usedcar .container{
    width: 80%;
    margin: auto;
}

.comp_head{
    background-color:#d72c1a;
    color: #fff;
    padding:15px;

}


.usedcar .usedcarLeft p a:hover{
    color:#bd2130
}

.usedcar .usedcarLeft{
    width: 40%;
    margin-left: 18px;
}
.usedcar .usedcarLeft p:first-child{
    color: #d72c1a;
    font-size: 30px;
    font-weight: bold;
}

.usedcar .usedcarLeft p:nth-child(2){
    color:#5C6061;
    font-size: 30px;
    font-weight: bold;
}

.usedcar .usedcarLeft .cone p,
.usedcar .usedcarLeft .cone2 p{
    color: #888;

}
.usedcar .usedcarRight .cone ,
.usedcar .usedcarRight .cone1 {



}
.usedcar .usedcarLeft span{
    color: #555;
    font-size: 18px;
    font-weight: bolder;

}
.usedcar.usedcarRight hr{
    height: 8px;
   color: #bbb;
}
.usedcar .usedcarRight{
    width: 40%;
    height: 300px;


}
.usedcar .usedcarRight img{
    height: 90%;
    border-radius: 9px;
    width: 90%;
}
@media (max-width:576px){
    .usedcar.usedcarLeft,
    .usedcar .usedcarRight{
        float: none;

    }

    }

@media (max-width:576px){
    .usedcar .usedcarRight img{
        height: 200px;
        width: 200px;}
    .usedcar .usedcarRight{
     width: 100%;
    height: 220px;
    }


}